$azulprimario: rgb(0, 66, 119);
$azulprimario: rgb(0, 75, 119);
$amarilloprimario: rgb(255, 204, 00);
$blancoprimario: white;
$negroprimario: rgb(28, 28, 28);
$fontSans: 'Source Sans 3', sans-serif;

.ticket-card-wait {
    width: 410px;
    height: 150px;
    background-color: $amarilloprimario;
    border: solid 5px $blancoprimario;
    border-radius: 25px;
    margin-bottom: 20px;

    .ticket-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;

        .ticket-card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $azulprimario;
            font-size: 60px;
            font-weight: bold;
            font-family: $fontSans
        }

        .ticket-card-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $azulprimario;
            font-size: 20px;
            font-weight: bold;
            font-family: $fontSans
        }
    }
}

.ticket-card-attention {
    width: 410px;
    height: 200px;
    background-color: $azulprimario;
    border: solid 5px $amarilloprimario;
    border-radius: 25px;
    margin-bottom: 20px;

    .ticket-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;


        .ticket-card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $amarilloprimario;
            font-size: 60px;
            font-weight: bold;
            font-family: $fontSans
        }

        .ticket-card-asist {
            span {
                margin: 15px;
                font-size: 1.8rem;
                font-weight: bold;
                font-family: $fontSans
            }
        }

        .ticket-card-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $amarilloprimario;
            font-size: 20px;
            font-weight: bold;
            font-family: $fontSans
        }
    }


}


.ticket-card-attention.changing-color {
    transition: background-color 1s ease; // Puedes ajustar la duración de la transición según tus preferencias
    background-color: $negroprimario; // Cambia al color amarillo durante la transición
  }



.ticket-card-info {
    width: 100%;
    height: 500px;
    background-color: $azulprimario;
    border: solid 5px $amarilloprimario;
    border-radius: 25px;
    margin-bottom: 20px;

    .ticket-card-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
        padding-top: 15px;


        .ticket-card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $amarilloprimario;
            font-size: 60px;
            font-weight: bold;
            font-family: $fontSans
        }

        .ticket-card-asist {
            span {
                margin: 15px;
                font-size: 1.8rem;
                font-weight: bold;
                font-family: $fontSans
            }
        }

        .ticket-card-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $amarilloprimario;
            font-size: 20px;
            font-weight: bold;
            font-family: $fontSans
        }
    }
}