<div class="main-container">

    <div class="container-item">
        <br>
        <h2>EN ESPERA: {{totalTickets}}
        </h2>
        <p-scrollPanel styleClass="customPanel-attention">
            <div *ngFor="let item of onWaitList">
                <div class="ticket-card-wait">
                    <div class="ticket-card-content">
                        <div class="ticket-card-title">
                            <i [class]="getIcon(item.prioridad)"></i>
                            <span>{{ getText(item.tipo_atencion, item.id) }}</span>
                        </div>

                        <div class="ticket-card-name">
                            <span>{{item.nombre}}</span>
                        </div>

                        <div class="custom-button-space">
                            <pButton pButton pRipple type="button" [loading]="loading"
                                class="p-button-rounded p-button-danger" (click)="deleteDialog(item.nombre, item.id)">
                                <i class="pi pi-times"></i>
                            </pButton>

                            <button pButton pRipple type="button" [loading]="loading"
                                class="p-button-rounded p-button-success" (click)="openDialog(item.nombre, item.id)">
                                <i class="pi pi-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>


        </p-scrollPanel>
    </div>

    <div class="container-item">
        <br>
        <div class="ticket-card-info">
            <div class="ticket-card-content" *ngFor="let item of cola">
                <div class="ticket-card-title">
                    <i [class]="getIcon(item.prioridad)"></i>
                    <span>Nombre: {{item.nombrep}} </span>
                </div>

                <div class="ticket-card-asist">
                    <span>Numero: {{item.telefono}}</span>
                </div>


                <div class="ticket-card-asist">
                    <span>Tipo de Atención: {{getTypeAttetion(item.tipo_atencion)}} </span>
                </div>


                <div class="ticket-card-asist">
                    <span>Representante: {{getRepresetant(item.representante)}}</span>
                </div>

                <div class="ticket-card-asist">
                    <span>Colegio: {{item.colegio}}</span>
                </div>

                <div class="ticket-card-asist">
                    <span>Carrera de Interes: {{getCarrera(item.carrera)}}</span>
                </div>
<!-- 
                <button pButton pRipple type="button" style="margin-left:15px" [loading]="loading"
                    class="p-button-rounded p-button-success">
                    <i class="pi pi-pencil"></i></button> -->
            </div>
        </div>
        <br>


    </div>

</div>