<form id="loginform" #loginform (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="on">
  <div class="form-column">
    <ng-container *ngIf="error">
      <span style="font-weight: bold; color: red;">Error al iniciar sesión</span>
    </ng-container>
   
    <div class="form-content">
      <label htmlFor="username">
        <i class="pi pi-user"></i>CI o DNI</label>
      <input pInputText type="number" formControlName="ci" placeholder="Ej: 12345678" required />
      <small *ngIf="form?.get('ci')?.invalid && (form?.get('ci')?.dirty || form?.get('ci')?.touched)"
        class="text-danger">
        <ng-container *ngIf="form?.get('ci')?.hasError('required')">
            <span style="font-weight: bold; color: red;"> El CI o DNI es requerido</span>
        </ng-container>
      </small>
    </div>

    <button pButton pRipple type="button" label="Inciar Sesión" [loading]="loading" [disabled]="!form.valid"
    class="p-button-rounded p-button-success" (click)="onSubmit()"></button>

  </div>
</form>