<p-menubar >
    <ng-template pTemplate="start">
        <div class="nav-content">
            <img src="assets/images/ucb_blanco.png" height="50" class="mr-2" [routerLink]="['/lobby']">

            <span [routerLink]="['/list/persons']" routerLinkActive="router-link-active" >Control</span>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <button (click)="dialog()" pButton pRipple type="button" icon="pi pi-user" style="color:white"  class="p-button-rounded p-button-info p-button-outlined"></button>
    </ng-template>
</p-menubar>

<router-outlet></router-outlet>